*{
	padding:0px;
	margin:0px;
}
#containter{
	width:500px;
	margin:10px auto;
	text-align: center;
}
table{
	border-collapse: collapse;
}
td,th{
	height:40px;
	width:40px;
	text-align:center;
}
td{
	border:1px solid #d2d2d2;
}
tr:nth-child(2) td{
	border-top:2px solid #000;
}
tr:last-child td{
	border-bottom: 2px solid #000;
}
td:nth-child(2){
	border-left:2px solid #000;
}
td:last-child{
	border-right:2px solid #000;
}
#order{
	margin-top:20px;
}
#myBlock{
	width:40px;
	height:40px;
	background-color:blue;
	position:relative;
}
#head{
	position:absolute;
	background-color: red;
}
.left,.right{
	height:100%;
    width:10px;
    top:0;
}
.top,.bottom{
	width:100%;
	height:10px;
	left:0;
}
.left{
	left:0;
}
.right{
	right:0;
}
.top{
	top:0;
}
.bottom{
	bottom:0;
}